[Desktop Entry]
Name=Forkgram
Comment=Enhanced twist on Telegram
TryExec=Forkgram
Exec=Forkgram -- %U
Icon=io.github.forkgram.tdesktop
Terminal=false
StartupWMClass=ForkgramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Forkgram -quit
Name=Quit Forkgram
Icon=application-exit
